@import 'variables.scss';

.main-page {
	&_category {
		margin: 40px 0;
		& h1 {
			font-size: 24px;
			padding-bottom: 12px;
			border-bottom: 1px solid $color-grey02;
			font-weight: 600;
		}
	}
	&_wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: clamp(4px, 2vw, 20px);
		margin: clamp(8px, 3vw, 16px) 0;
		&.archive-list > .user-card_container {
			filter: grayscale(1);
		}
		& > span {
			font-size: clamp(14px, 5vw, 24px);
		}
	}
}

@media (max-width: 1160px) {
	.main-page {
		&_wrapper {
			justify-content: center;
		}
		&_category > h1 {
			padding-left: 10px;
		}
	}
}

@media (max-width: 376px) {
	.main-page {
		&_wrapper {
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
}
