@import 'variables.scss';

.user-details {
	&_container {
		display: flex;
		gap: clamp(32px, 5vw, 40px);
	}
	&_field {
		display: flex;
		flex-direction: column;
		background-color: $color-white;
		border-radius: 16px;
		padding: 40px;
		& h1 {
			font-size: 16px;
			line-height: 22px;
			padding-bottom: 12px;
			border-bottom: 1px solid $color-grey02;
		}
		&.profile-data {
			width: clamp(340px, 70%, 760px);
			& h1 {
				font-size: 24px;
				padding-bottom: 16px;
			}
		}
	}
	&_avatar-container {
		margin-bottom: clamp(24px, 5vw, 30px);
		display: flex;
		justify-content: center;
		height: 485px;
		& img {
			border-radius: 16px;
			max-width: 280px;
			object-fit: cover;
		}
	}
	&_categories {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		&.user-category {
		}
	}
	& form {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: flex-start;
		& button {
			margin-top: 20px;
		}
	}
}

@media (max-width: 740px) {
	.user-details {
		&_container {
			flex-direction: column;
			padding: 0 16px;
		}
		&_field {
			width: 100%;
			display: flex;
			justify-content: center;
			padding: 28px;
			&.base-data {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
			&.profile-data {
				width: 100%;
				display: flex;
				flex-direction: column;
			}
		}
		&_avatar-container {
			height: 190px;
			& img {
				max-width: 280px;
				overflow: hidden;
				object-fit: cover;
			}
		}
		& button {
			min-width: 100%;
		}
	}
}

@media (max-width: 540px) {
	.user-details {
		&_container {
			flex-direction: column;
			padding: 0 16px;
		}
		&_field {
			display: flex;
			flex-direction: column;
			padding: 28px;
			&.base-data {
				padding: 28px;
				flex-direction: column;
			}
			&.profile-data {
				width: 100%;
			}
		}
	}
}
